<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="icon" href="../images/home.png">
		<link rel="stylesheet" href="css_files/main.css" type="text/css">


		<div class="ImageWrapper">
			<img src="https://source.unsplash.com/collection/1065396/" id='backgroundImg'>
		</div>
	</head>

	<body>
			<div class="ToDoList" id="app">
				<div id="TDItems">
					<div class=TDItem v-for="(todo, index) in todos" >
						<!-- The first one shows if the item has not been completed, otherwise the second does -->
						<p v-cloak v-if="todo.doneTime === null" class="ItemText" @click="toggleDone(index)">{{todo.text}}</p> 
						<p v-cloak v-else class="ItemText Checked" @click="toggleDone(index)">{{todo.text}}</p>
						<div class="CloseButton" @click="removeTodo(todo)">X</div>
					</div>
				</div>
				<input type="text" v-model="todoInput" placeholder="New Todo" id="TDInput" @keyup.enter="addTodo()">
			</div>

			<div id='ContentWrapper'>
			</div>
			<div id='ButtonsWrapper'>
				<img src="images/Thumbnails/close.png" class='ContentButton' id='close'>
				<img src="images/Thumbnails/calendar.png" class='ContentButton' id='calendar'>
				<img src="images/Thumbnails/xkcd.png" class='ContentButton' id='xkcd'>
				<img src="images/Thumbnails/spotify.png" class='ContentButton' id='spotify'>
			</div>


	</body>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="js_files/contentControl.js" id='contentJS'></script>
	<script type="text/javascript" src="js_files/linkControl.js" id='linkJS'></script>
	<script type="text/javascript" src="js_files/main.js" id='mainJS'></script>

</html>

